.flash_message{
    width:100%;
    text-align: center;
    padding:5px;
    position:fixed;
    top:0;
    left:0;
    background-color: yellow;
    font-weight: bold;

}

li{
    display: inline;
}

.project {
    padding: 10px;
    background-color: #99ccff;
}
.task {
    padding: 10px;
    background-color: #1aff8c;
}
